.felicitation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: max(3em,min(2.14286vw,6em));
    line-height: 1.6;
    white-space: pre-wrap;
    color: darkmagenta;
    /*font-size: 25px;*/
    font-weight: bold;
}

/*@media (max-width: 820px) {*/
/*    .felicitation {*/
/*        top: 65%;*/
/*        font-size: 17px;*/
/*    }*/
/*}*/